* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    background-color: #f5f5f5;
}

.header {
    background-color: white;
    box-shadow: 0px 0px 15px 0px;
}

.logo {
    width: 120px;
    animation: rotate 20s linear infinite;
    margin: 10px;
}

.figure-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.list-navigation li {
    list-style: none;
}

.list-navigation a{
    display: inline-block;
    margin: 15px 0px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
} 

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* crece */
    }
    100% {
        transform: scale(1); /* vuelve a su tamaño normal */
    }
}

.active {
    display: inline-block;
    background: linear-gradient(45deg, #2764de, #037c42);
    color: white;
    transition: 0.3s;
    animation: pulse 2s ease-in-out infinite;
}