* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    background-color: #ffffff;
}

/*Inicio de sección header*/
.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 0px;
    padding: 10px 10px;
} 

/* .navigation {
    background-color: white;
    box-shadow: 0px 0px 15px 0px;
} */

/* .navigation a{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.figure-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: auto;
}

/* .figure-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(45deg, #182c53, #0967d2);
} */

.navigation ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
}

.list-navigation li {
    list-style: none;
}

.icons {
    width: 45px;
    height: 45px;
    padding: 8px;
}

.list-navigation a{
    padding: auto;
    border-radius: 10px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1);}
}

.active {
    display: inline-block;
    background: linear-gradient(45deg, #1144dd, #086d30);
    color: white;
    transition: 0.3s;
    animation: pulse 2s ease-in-out infinite;
}

a {
    color: black;
}

/*Inicio de sección main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-picture {
    background: linear-gradient(to bottom right, #0f923d, #252ac4);
    margin: auto;
    width: 95vw;
}

.main-image {
    width: 85vw;
    margin: 20px;
    padding: 10px;
}

.welcome-section {
    margin: 20px;
}

.welcome-text {
    margin: 30px;
    padding: auto;
    width: 80vw;
    font-size: 1.4rem;
    text-align: center;
}

.lema {
    padding: 10px 0px;
    text-align: center;
    width: 95vw;
    background: linear-gradient(to right, #F47F27, #B9605E, #0491AF);
    color: white;
    box-shadow: 0px 0px 15px 0px;
}

.main-text {
    margin: 10px;
    font-size: 1rem;
    width: 95vw;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, white, rgb(109, 111, 255));
    box-shadow: 0px 4px 6px -1px;
    border-left: 4px solid #182c53;
    font-style: italic;
}

.verse {
    text-align: right;
}

.nav-footer {
    background-color: #1a54ab;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.nav-footer img{
    width: 50px;
}