* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    background-color: #ffffff;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
} 

.navigation {
    background-color: white;
    box-shadow: 0px 0px 15px 0px;
}

.logo {
    width: 80px;
    animation: rotate 20s linear infinite;
    margin: 10px;
}

.figure-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(45deg, #182c53, #0967d2);
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list-navigation li {
    list-style: none;
}

.icons {
    width: 45px;
    height: 45px;
    padding: 8px;
}

.list-navigation a{
    display: inline-block;
    margin: 15px 0px;
    padding: auto;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}

.active {
    display: inline-block;
    background: linear-gradient(45deg, #1144dd, #086d30);
    color: white;
    transition: 0.3s;
    animation: pulse 2s ease-in-out infinite;
}

a {
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-picture {
    background: linear-gradient(to bottom right, #0f923d, #252ac4);
    margin: auto;
    width: 95vw;
}

.main-image {
    width: 90vw;
    margin: 20px;
    padding: 10px;
}

img {
    border-radius: 15px;
}

.welcome-section {
    margin: 20px;
}

.main-text {
    margin: 20px;
    font-size: 1.5rem;
    width: 80vw;
    height: auto;
    padding: 10px;
}

.verse {
    text-align: right;
}

.background-picture {
    padding: 10px;
}

.welcome-section img{
    width: 90vw;
}

.lema {
    padding: 10px 0px;
    text-align: center;
    background: linear-gradient(to right, #F47F27, #B9605E, #0491AF);
    width: 95vw;
    color: white;
    box-shadow: 0px 0px 15px 0px;
}

.welcome-text {
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 0px 0px 0px #5934FA;
    border: 3px solid white;
    width: 80vw;
    font-size: 1.5rem;
}

.nav-footer {
    background-color: #1a54ab;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.nav-footer img{
    width: 50px;
}