* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    background-color: #f1ecec;
}

.header {
    background-color: white;
    box-shadow: 0px 0px 15px 0px;
}

.logo {
    width: 120px;
    animation: rotate 20s linear infinite;
    margin: 10px;
}

.figure-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.list-navigation li {
    list-style: none;
}

.list-navigation a{
    display: inline-block;
    margin: 15px 0px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}

.active {
    display: inline-block;
    background: linear-gradient(45deg, #2764de, #037c42);
    color: white;
    transition: 0.3s;
    animation: pulse 2s ease-in-out infinite;
}

a {
    color: black;
}

.main-content {
    background: linear-gradient(to bottom right, #3445FA, #5934FA);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
}

.main-image {
    width: 90vw;
    margin: 20px;
    padding: 10px;
}

img {
    border-radius: 15px;
}

.slogan-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: white;
    text-align: left;
    font-size: large;
    padding: 10px;
    margin: 0px 10px;
}

.vl {
    border-left: 2px solid white;
    height: 200px;
    position: static;
    left: 50%;
    margin-left: -10px;
    top: 0;
}

.subtext {
    margin: 20px;
    color: white;
    font-style: italic;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pastor-picture {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.pastor-text {
    margin-left: 10px;
}

.welcome-section img{
    width: 200px;
    box-shadow: -15px -15px 0px 0px #3068d8;
    margin-top: 20px;
}

.welcome-text {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 0px 0px 0px #037c42;
    border: 3px solid white;
    width: 80vw;
}

.nav-footer {
    background-color: #1a54ab;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.nav-footer img{
    width: 50px;
}