* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    background-color: #f1ecec;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
} 

.navigation {
    background-color: white;
    box-shadow: 0px 0px 15px 0px;
}

.logo {
    width: 100px;
    animation: rotate 20s linear infinite;
    margin: 10px;
}

.figure-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(45deg, #182c53, #0967d2);
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list-navigation li {
    list-style: none;
}

.icons {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.list-navigation a{
    display: inline-block;
    margin: 15px 0px;
    padding: auto;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}

.active {
    display: inline-block;
    background: linear-gradient(45deg, #1144dd, #086d30);
    color: white;
    transition: 0.3s;
    animation: pulse 2s ease-in-out infinite;
}

a {
    color: black;
}

.main-content {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border: 1px solid #2d196e;
    border-radius: 10px;
    background-color: whitesmoke;
}

.cards {
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #2d196e;
    background-color: white;
    box-shadow: 0px 0px 5px 1px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-5px);
    }
}

.text-header {
    text-align: left;
    padding: 0px 15px;
    background: linear-gradient(45deg, #2764de, #037c42);
    color: white;
    border-radius: 10px;
    width: 100%;
    animation: bounce 3s ease infinite;
}

#historical-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.link-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 60px;
    background-color: #037c42;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
}