* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    background-color: #ffffff;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
} 

.navigation {
    background-color: white;
    box-shadow: 0px 0px 15px 0px;
}

.logo {
    width: 80px;
    animation: rotate 20s linear infinite;
    margin: 10px;
}

.figure-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(45deg, #182c53, #0967d2);
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list-navigation li {
    list-style: none;
}

.icons {
    width: 45px;
    height: 45px;
    padding: 8px;
}

.list-navigation a{
    display: inline-block;
    margin: 10px 0px;
    padding: auto;
    text-decoration: none;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}

.active {
    display: inline-block;
    background: linear-gradient(45deg, #1144dd, #086d30);
    color: white;
    transition: 0.3s;
    animation: pulse 2s ease-in-out infinite;
}

a {
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    padding: 10px;
    margin: 20px;
    width: 90vw;
    border-radius: 10px;
    background-color: whitesmoke;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-5px);
    }
}

.text-header {
    color: white;
    animation: bounce 3s ease infinite; 
    background: linear-gradient(45deg, #2764de, #037c42);
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.desplegable {
    background: none;
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.desplegable-header {
    cursor: pointer;
    transition: color 0.3s ease;
}

.desplegable-header:hover {
    color: rgb(12, 160, 252)
}

.arrow {
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

.desplegable.activo .arrow {
    color: #007bff;
}

.desplegable-contenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.desplegable-contenido {
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5rem;
}

.desplegable.activo .desplegable-contenido {
    max-height: 500px;

}

#historical-review {
    margin: 30px auto;
    text-align: center;
}

.link-pdf {
    display: inline-block;
    background-color: #037c42;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    width: 330px;
    height: 60px;
    line-height: 58px;
}

.pastors {
    border: 1px solid rgb(173, 166, 166);
    border-radius: 10px;
}

.pastors-header {
    text-align: center;
    margin: 15px;
}

.pastors-picture img{
    width: 35vw;
    border-radius: 10px;
    margin: 20px;
}

.pastors-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pastors-picture p {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: oblique;
}