*{
    margin: 0;
    padding: 0;
}

/*Esilo para logo y barra nav*/
.logo{
    background: linear-gradient(to right, rgb(7, 7, 61), rgb(10, 56, 129));
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamaño-logo{
    height: 150px;
}

.inicio{
    background-color: rgb(11, 137, 187);
    padding: 15px;
    text-align: center;
    color: white;
    font-family: Helvetica;
}

.inicio a{
    padding-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

.imagenInicio{
    display: flex;
    justify-content: center;
    padding: 70px;
}

/*Esta sección a continuación la saqué de un sitio externo.
Su función es poner un fondo animado detrás de la imagen principal de bienvenida. Está chido xd*/
.fondo {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgb(11, 104, 98) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
} /*Termina acá*/

/*Estilos para fotos y texto de los pastores*/
.texto-pastor{
    text-align: center;
    padding: 50px 50px 0px;
    font-family: sans-serif;
    font-size: 40px;
    color: #000;
}

.pastores{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 0px 40px;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pastores img{
    box-shadow: 5px 5px 5px 5px;
}

.pastores h2{
    padding-top: 10px;
}

/*Horarios*/
.actividades{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*.actividades h2{
    text-align: center;
    padding-top: 13px;
}*/

.lunes{
    background: #1d1f21;
    color: white;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease;
    flex-direction: column;
}

.lunes .info-lunes{
    display: none;
}

.lunes:hover .titulo-lunes{
    display: none;
}

.lunes:hover .info-lunes{
    display: block;
}

/*
.martes{
    display: block;
    background-color: #6C738B;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.jueves{
    display: block;
    background-color: #627ee1;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.viernes{
    display: block;
    background-color: #535661;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.sabado{
    display: block;
    background-color: #262936;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.domingo-am{
    display: block;
    background-color: #1B2033;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.domingo-pm{
    display: block;
    background-color: #2A98E1;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/*El siguiente código es para un slide de imagenes con los horarios*/
.slider-horarios {
    width: 100%;
    max-width: 1890px;
    height: auto;
    margin: 0px auto 0;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.slider-horarios ul {
    display: flex;
    width: 700%; 
    padding: 0;
    margin: 0;
    list-style: none;
    animation: slide 28s infinite ease-in-out;
}

.slider-horarios li {
    width: 100vw; 
}

.slider-horarios img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@keyframes slide {
    0% {margin-left: 0%;}
    11% {margin-left: 0%;}

    14% {margin-left: -100%;}
    25% {margin-left: -100%;}

    28% {margin-left: -200%;}
    39% {margin-left: -200%;}

    42% {margin-left: -300%;}
    53% {margin-left: -300%; }

    56% {margin-left: -400%;}
    67% {margin-left: -400%;}

    70% {margin-left: -500%;}
    81% {margin-left: -500%;}

    84% {margin-left: -600%;}
    95% {margin-left: -600%;}
}

/*Estilos para texto de Pastor Isael*/
.pastores img{
    border-radius: 20px;
}

.contenedor-principal{
    display: flex;
    padding: 80px 50px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 100px;
}

.fotopastor img{
    border-radius: 10px;
    box-shadow: 23px 23px 0px #2A98E1;
}

.textoinicio{
    padding: 25px;
    width: 60vh;
}

.textoinicio h2{
    font-size: 55px;
    padding: 20px 0px;
}

.textoinicio p{
    font-size: 30px;
    font-weight: 500;
    line-height: 150%;
}

.horarios-flex{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: helvetica;
}